*{
    padding: 0px;
    margin: 0px;
}
.head-container{
    height: 100vh;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10ox;
}
.img-first{
    height: 100vh;
   background-repeat: none;
   margin-bottom: 0px;
}
.head-first{
    font-size: 55px;
    margin-left: 25px;
    color: #272727;
}
.para-first{
    color: rgba(39, 39, 39, 0.60);
    font-size: medium;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
.btn-primary{
    display: inline-flex;
    padding: 15px 35px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px; 
    border-style: none;
    cursor: pointer;
}
.off{
    color: #E55473;
}
.head-container-three{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 80px;
    background-color:rgba(229, 84, 115, 0.046);

}
.head-subtwo{
    text-align: center;
    margin: auto;

}
.head-third{
color: #272727;
font-size: 40px;
font-weight: 800;
}
.para-third{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.head-container-four{
    text-align: center;
}
.head-subfour{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding-top: 60px;
}
.para-fourth{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: medium;
font-weight: 400;
line-height: 30px;
}
.box-2{
    padding-top: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.head-container-five{
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}
.input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 290px;
    margin-bottom: 10px;
    border-style: none
}
.head-subfive{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.para-five{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}